{% extends 'inc/_containerPage.html' %}
{% block contentPage %}
    Вы выбрали: № контракта - {{ contract_view.title }}
    {% if type_fiz %}
        <span class="pink-text"><i class="fas fa-long-arrow-alt-right"></i></span> Физическое лицо
    {% elif type_org %}
        <span class="pink-text"><i class="fas fa-long-arrow-alt-right"></i></span> Учреждение | Организатор группы
    {% endif %}
    <span class="pink-text"><i class="fas fa-long-arrow-alt-right"></i></span> {{ period_view.start_date }} -
    {{ period_view.end_date }}
    <span class="pink-text"><i class="fas fa-long-arrow-alt-right"></i></span> {{ management_view.title }}
    <hr>
    <div class="row">
        <div class="col-12 col-md-8 w-100">
            Учреждение | Организатор группы: <h2>{{ management_view.title }}</h2>
            <form action="" method="post">{% csrf_token %}
                {{ person_form.as_p }}
                <input type="submit" value="Продолжить"/>
            </form>
        </div>
        <div class="col-12 col-md-4">
            <h3>Список добавленных лиц на обучение:</h3><br>
        <ul>
            {% for person in persons %}
                <li>{{ person.surname }}&nbsp;&nbsp;
                <a class="red-text" href="{% url 'delete_person' person.pk %}"><i class="fas fa-trash"></i></a><br></li>
            {% endfor %}
        </ul>
        </div>
    </div>
{% endblock %}

