{% extends 'base.html' %}
{% load sitetree %}
{% block content %}


    <!--Main layout-->
    <main class="mt-5 pt-4">
        <div class="container dark-grey-text mt-5">
            <!--Grid row-->
            <div class="row wow fadeIn">
                <!--Grid column-->
                <div class="col-md-5 mb-4 align-items-center d-flex">
                    <div class="position-absolute z-index-norm">
                        <div class="left-mm p-2 ml-3">
                            <ul class="navbar-nav mr-auto">
                                {% sitetree_menu from "leftMenu" include "trunk" template "sitetree/menu_bootstrap4.html" %}
                            </ul>
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a href="#" class="nav-link waves-effect waves-light" data-toggle="modal"
                                       data-target="#fullHeightModalRight"> Письмо в администрацию Центра</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="view z-depth-2 rounded">
                                <video class="video-fluid z-depth-1 card index-player" autoplay loop muted>
                                    <source src="http://ereg.mnpcbt.ru/another/videoplayback_4.mp4" type="video/mp4"/>
                                </video>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-7 mb-4">
                    <section class="p-md-1 mx-md-1">
                        <div class="row">
                            <div class="col-md-8 mb-5">
                                <h4 class="font-weight-bold mb-3">
                                    <i class="fas fa-tty indigo-text pr-2"></i> Контактная информация
                                </h4>
                                <ul class="list-group">
                                    <li class="list-group indigo-text py-2">Справочная служба: 8-499-268-25-00</li>
                                    <br>
                                    <li class="list-group indigo-text py-2">Приемная Директора: 8-499-268-25-00</li>
                                    <br>
                                    <li class="list-group indigo-text py-2">Отдел делопроизводства: 8-499-785-25-14</li>
                                    <br>
                                    <li class="list-group indigo-text py-2">Факс: 8-499-785-20-82</li>
                                    <br>
                                    <li class="list-group pink-text py-2">Горячая линия психологической помощи:
                                        +7-999-353-79-80
                                    </li>
                                    <br>
                                </ul>
                            </div>
                            <div class="col-lg-4 mb-5">
                                <div class="mb-5">
                                    <h4 class="font-weight-bold mb-3">
                                        <i class="fas fa-map-pin teal-text pr-2"></i> Адрес
                                    </h4>
                                    <span class="teal-text">г. Москва, ул. Стромынка, д. 10</span>
                                </div>
                                <h4 class="font-weight-bold mb-3">
                                    <i class="fas fa-clock teal-text pr-2"></i> Режим работы
                                </h4>
                                <span class="teal-text">КРУГЛОСУТОЧНО (СТАЦИОНАР)</span>
                            </div>
                            <div class="col-12 col-md-6">
                                <h6><a class="btn-floating btn-sm btn-secondary"><i
                                        class="fas fa-calendar-check"></i></a>
                                    График приема населения</h6>
                            </div>
                            <div class="col-12 col-md-6">
                                <a href="http://anketa.rosminzdrav.ru/staticogvjustank/30/1" class="card hoverable"
                                   target="_blank">
                                    <div class="m-2">
                                        <div class="media">
              <span class="card-img-100 d-inline-flex justify-content-center align-items-center rounded-circle grey lighten-3 mr-1 overflow-hidden">
                <img src="/static/img/ocenka_kachestva.png" alt="">
              </span>
                                            <div class="media-body">
                                                <h6 class="dark-grey-text text-left">
                                                    Независимая оценка качества условий оказания услуг медицинскими
                                                    организациями
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <hr>
            <div class="row d-flex justify-content-center wow fadeIn branches-area">
                <div class="col-12">
                    <h2 class="my-4"><span class="index-title">Наши филиалы</span></h2>
                    <div class="owl-carousel px-3" id="carouselBranches">
                        {% for i in branches %}
                            <div class="item">
                                <a href="{{ i.get_absolute_url }}">
                                    <div class="card mb-4">
                                        <div class="view overlay">
                                            {% if i.image_title %}
                                                <img class="card-img-top" src="{{ i.image_title.url }}" alt="">
                                            {% else %}
                                                <img class="card-img-top" src="/media/no_image.jpg" alt="">
                                            {% endif %}
                                            <a href="{{ i.get_absolute_url }}">
                                                <div class="mask rgba-white-slight"></div>
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            <h4 class="card-title">{{ i.name }}</h4>
                                            Адрес:
                                            <div class="card-text">{{ i.address }}</div>
                                            Контактный телефон:
                                            <div class="card-text">{{ i.tel_cnt_br }}</div>
                                            {% if i.tel_hotline %}
                                                Телефон горячей линии:
                                                <div class="card-text">{{ i.tel_hotline }}</div>
                                            {% endif %}
                                            <button type="button" class="btn btn-light-blue btn-md">
                                                Перейти
                                                <i class="fas fa-long-arrow-alt-right fa-lg"></i>
                                            </button>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <hr>
            <div class="row d-flex justify-content-center wow fadeIn news-area">
                <!--Grid column-->
                <div class="col-12">
                    <h2 class="my-4"><span class="index-title">Наши новости</span></h2>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            {% for nl in news_last %}
                                <a href="{{ nl.get_absolute_url }}">
                                    {% if nl.image_title %}
                                        <img class="img-fluid z-depth-1" src="{{ nl.image_title.url }}" alt="">
                                    {% else %}
                                        <img class="rounded z-depth-1" src="/media/logo-main.png" alt="">
                                    {% endif %}
                                    {{ nl.title }}
                                    <div class="pink-text">{{ nl.created_at|date:"d E Y" }}</div>
                                </a>
                            {% endfor %}
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="row">
                                {% for i in news %}
                                    <div class="col-12 col-md-6">
                                        <div class="row">
                                            <div class="col-5 avatar w-100">
                                                {% if i.image_title %}
                                                    <img class="img-fluid rounded z-depth-1"
                                                         src="{{ i.image_title.url }}" alt="">
                                                {% else %}
                                                    <img class="rounded rounded z-depth-1" src="/media/logo-main.png"
                                                         alt="">
                                                {% endif %}
                                                <div class="pink-text text-center">{{ i.created_at|date:"d E Y" }}</div>
                                            </div>
                                            <div class="col-7 pr-0 pl-0">
                                                <p class="text-muted">
                                                    {{ i.title }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="col-12 col-md-6">
                                    <a href="{% url 'news' %}">
                                        <button class="btn btn-outline-info btn-rounded waves-effect">Больше новостей
                                            <i class="fas fa-angle-double-right fa-lg"></i>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="container my-5 z-depth-1 px-0 rounded">
                <section class="white-text grey p-5 rounded counter-area"
                         style="background-image: url(/static/img/bg-counter.jpg);">
                    <div class="row">
                        <div class="col-12 col-md-6 offset-md-3 text-center">
                            <div class="row">
                                <div class="col-12 bg-static">
                                    <div class="text-uppercase h4 mt-3">Сотрудников</div>
                                    <h4 class="display-4 mb-0 count-up" data-from="0" data-to="{{ count_list }}"
                                        data-time="2000">{{ count_list }}</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 mb-4 text-center p-4">
                            <div class="row">
                                <div class="col-12 bg-static">
                                    <div class="text-uppercase h4 mt-3">Кандидат медицинских наук</div>
                                    <h4 class="display-4 mb-0 count1" data-from="0" data-to="{{ degree_candidate }}"
                                        data-time="2000">degree_candidate</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4 text-center p-4">
                            <div class="row">
                                <div class="col-12 bg-static">
                                    <div class="text-uppercase h4 mt-3">Доктор медицинских наук</div>
                                    <h4 class="display-4 mb-0 count3" data-from="0" data-to="{{ degree_doctor }}"
                                        data-time="2000">{{ degree_doctor }}</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4 text-center p-4">
                            <div class="row">
                                <div class="col-12 bg-static">
                                    <div class="text-uppercase h4 mt-3">Московский <br> врач</div>
                                    <h4 class="display-4 mb-0 count4" data-from="0" data-to="{{ mos_doc }}"
                                        data-time="2000">{{ mos_doc }}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--Section: Content-->
            </div>
            <hr>
            <div class="implink-area">
                <h2 class="my-4"><span class="index-title">Полезная информация</span></h2>
                <div class="owl-carousel" id="carouselImpLink">
                    {% for implink in implinks %}
                        <div class="item m-3">
                            <a target="_blank" href="{{ implink.link }}">
                                <div class="avatar mx-auto">
                                    <img src="{{ implink.image_title.url }}"
                                         class="rounded z-depth-1-half" alt="Sample avatar">
                                </div>
                                <h6 class="text-uppercase grey-text mt-3 text-center">
                                    <strong>{{ implink.content }}</strong></h6>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <hr>
            <div class="reviews-area">
                <h2 class="my-4"><span class="index-title">Отзывы о нашей работе</span></h2>
                <section>
                    {% for r in reviews %}
                        <!-- Card header -->
                        <div class="card-header border-0 font-weight-bold d-flex justify-content-between">
                            <p class="mr-4 mb-0 text-sea-color"><i class="fas fa-calendar mr-2"></i>{{ r.date }}</p>
                        </div>

                        <div class="media mt-4 px-1 text-md-left">
                            <img class="card-img-100 d-flex z-depth-1 mr-3" src="/media/user.png">
                            <div class="media-body">
                                <h5 class="font-weight-bold mt-0">
                                    <div class="text-sea-color">{{ r.name }}</div>
                                </h5>
                                <div class="story">
                                    {{ r.content }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </section>
            </div>
            <div class="reviews-area">
                <h2 class="my-4"><span class="index-title">Иная информация</span></h2>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="card d-flex justify-content-center align-items-center p-3 text-uppercase">
                            Общественный совет
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="card d-flex justify-content-center align-items-center p-3 text-uppercase">
                            Документы
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="card d-flex justify-content-center align-items-center p-3 text-uppercase">
                            Волонтерская деятельность
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--Main layout-->


    <!--/.Footer-->
    {#    <div id="carousel-example-1z" class="carousel slide carousel-fade">#}
    {##}
    {#        <!--Slides-->#}
    {#        <div class="carousel-inner" role="listbox">#}
    {##}
    {#            <!--First slide-->#}
    {#            <div class="carousel-item active">#}
    {#                <div class="view">#}
    {##}
    {#                    <!--Video source-->#}
    {#                    <video class="video-intro" poster="http://ereg.mnpcbt.ru/another/img-main-video.jpg" playsinline#}
    {#                           webkit-playsinline autoplay muted loop>#}
    {#                        <source src="http://ereg.mnpcbt.ru/another/videoplayback_4.mp4" type="video/mp4"/>#}
    {#                    </video>#}
    {##}
    {#                    <!-- Mask & flexbox options-->#}
    {#                    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">#}
    {##}
    {#                        <!-- Content -->#}
    {#                        <div class="row mm-area mx-2">#}
    {#                            <div class="col-12 col-lg-4">#}
    {#                                <div class="left-mm p-3">#}
    {#                                    <ul class="navbar-nav mr-auto">#}
    {#                                        {% sitetree_menu from "leftMenu" include "trunk" template "sitetree/menu_bootstrap4.html" %}#}
    {#                                    </ul>#}
    {#                                    <ul class="navbar-nav mr-auto">#}
    {#                                        <li class="nav-item">#}
    {#                                            <a href="#" class="nav-link waves-effect waves-light" data-toggle="modal"#}
    {#                                               data-target="#fullHeightModalRight">Письмо в администрацию Центра</a>#}
    {#                                        </li>#}
    {#                                    </ul>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                            <div class="col-8 d-none d-lg-block align-self-center">#}
    {#                                <div class="white-text mx-5 wow fadeIn">#}
    {#                                    <h2 class="text-right">Государственное бюджетное учреждение здравоохранения города#}
    {#                                        Москвы "Московский научно-практический центр борьбы с туберкулезом#}
    {#                                        Департамента здравоохранения города Москвы"</h2>#}
    {#                                    <hr>#}
    {#                                    <h2 class="text-left">The Moscow Research and Clinical Center for Tuberculosis#}
    {#                                        Control of the Moscow Government Department of Health</h2>#}
    {#                                    <div class="head-menu">#}
    {#                                        <div class="row">#}
    {#                                            <div class="col-4">test</div>#}
    {#                                            <div class="col-4">test</div>#}
    {#                                            <div class="col-4">test</div>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                        <!-- Content -->#}
    {##}
    {#                    </div>#}
    {#                    <!-- Mask & flexbox options-->#}
    {##}
    {#                </div>#}
    {#            </div>#}
    {#            <!--/First slide-->#}
    {##}
    {##}
    {#            <!--Third slide-->#}
    {#      <div class="carousel-item">#}
    {#        <div class="view">#}
    {##}
    {#          <!--Video source-->#}
    {#          <video class="video-intro" autoplay loop muted>#}
    {#              <source src="https://mdbootstrap.com/img/video/forest.mp4" type="video/mp4" />#}
    {#          </video>#}
    {##}
    {#          <!-- Mask & flexbox options-->#}
    {#          <div class="mask rgba-black-light d-flex justify-content-center align-items-center">#}
    {##}
    {#            <!-- Content -->#}
    {#            <div class="text-center white-text mx-5 wow fadeIn">#}
    {#              <h1 class="mb-4">#}
    {#                <strong>Learn Bootstrap 4 with MDB</strong>#}
    {#              </h1>#}
    {##}
    {#              <p>#}
    {#                <strong>Best & free guide of responsive web design</strong>#}
    {#              </p>#}
    {##}
    {#              <p class="mb-4 d-none d-md-block">#}
    {#                <strong>The most comprehensive tutorial for the Bootstrap 4. Loved by over 500 000 users. Video and written versions#}
    {#                  available. Create your own, stunning website.</strong>#}
    {#              </p>#}
    {##}
    {#              <a target="_blank" href="https://mdbootstrap.com/education/bootstrap/" class="btn btn-outline-white btn-lg">Start free tutorial#}
    {#                <i class="fas fa-graduation-cap ml-2"></i>#}
    {#              </a>#}
    {#            </div>#}
    {#            <!-- Content -->#}
    {##}
    {#          </div>#}
    {#          <!-- Mask & flexbox options-->#}
    {##}
    {#        </div>#}
    {#      </div>#}
    {#            <!--/Third slide-->#}
    {##}
    {#        </div>#}
    {#        <!--/.Slides-->#}
    {##}
    {#        <!--Controls-->#}
    {#    <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">#}
    {#      <span class="carousel-control-prev-icon" aria-hidden="true"></span>#}
    {#      <span class="sr-only">Previous</span>#}
    {#    </a>#}
    {#    <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">#}
    {#      <span class="carousel-control-next-icon" aria-hidden="true"></span>#}
    {#      <span class="sr-only">Next</span>#}
    {#    </a>#}
    {#        <!--/.Controls-->#}
    {##}
    {#    </div>#}
    {#    <div class="row">#}
    {#        <div class="col-12 col-md-5 mt-200">#}
    {#            <div class="index-player view">#}
    {#                <video class="video-fluid z-depth-1" autoplay loop muted>#}
    {#                    <source src="http://ereg.mnpcbt.ru/another/videoplayback_4.mp4" type="video/mp4"/>#}
    {#                </video>#}
    {#                <div class="mask rgba-blue-light">#}
    {#                    <div class="left-mm pl-5">#}
    {#                        <ul class="navbar-nav mr-auto">#}
    {#                            {% sitetree_menu from "leftMenu" include "trunk" template "sitetree/menu_bootstrap4.html" %}#}
    {#                        </ul>#}
    {#                        <ul class="navbar-nav mr-auto">#}
    {#                            <li class="nav-item">#}
    {#                                <a href="#" class="nav-link waves-effect waves-light" data-toggle="modal"#}
    {#                                   data-target="#fullHeightModalRight"> Письмо в администрацию Центра</a>#}
    {#                            </li>#}
    {#                        </ul>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="col-12 col-md-7 mt-200">#}
    {#            <div class="row">#}
    {#                <div class="col-12 col-md-8 offset-md-2">#}
    {#                    <a href="#!" class="card hoverable">#}
    {#                        <!-- Card content -->#}
    {#                        <div class="card-body">#}
    {#                            <div class="media">#}
    {#              <span class="card-img-100 d-inline-flex justify-content-center align-items-center rounded-circle grey lighten-3 mr-4">#}
    {#                <i class="fab fa-react fa-2x text-info"></i>#}
    {#              </span>#}
    {#                                <div class="media-body">#}
    {#                                    <h5 class="dark-grey-text mb-3">I'm a developer</h5>#}
    {#                                    <p class="font-weight-light text-muted mb-0">Your web pages looks good on all#}
    {#                                        devices and#}
    {#                                        screen sizes, including desktop, tablet and mobile.</p>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </a>#}
    {#                </div>#}
    {#                <div class="col-12 col-md-6">#}
    {#                    <a href="#!" class="card hoverable">#}
    {#                        <!-- Card content -->#}
    {#                        <div class="card-body">#}
    {#                            <div class="media">#}
    {#              <span class="card-img-100 d-inline-flex justify-content-center align-items-center rounded-circle grey lighten-3 mr-4">#}
    {#                <i class="fab fa-react fa-2x text-info"></i>#}
    {#              </span>#}
    {#                                <div class="media-body">#}
    {#                                    <h5 class="dark-grey-text mb-3">I'm a developer</h5>#}
    {#                                    <p class="font-weight-light text-muted mb-0">Your web pages looks good on all#}
    {#                                        devices and#}
    {#                                        screen sizes, including desktop, tablet and mobile.</p>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </a>#}
    {#                </div>#}
    {#                <div class="col-12 col-md-6">#}
    {#                    <a href="#!" class="card hoverable">#}
    {#                        <!-- Card content -->#}
    {#                        <div class="card-body">#}
    {#                            <div class="media">#}
    {#              <span class="card-img-100 d-inline-flex justify-content-center align-items-center rounded-circle grey lighten-3 mr-4">#}
    {#                <i class="fab fa-react fa-2x text-info"></i>#}
    {#              </span>#}
    {#                                <div class="media-body">#}
    {#                                    <h5 class="dark-grey-text mb-3">I'm a developer</h5>#}
    {#                                    <p class="font-weight-light text-muted mb-0">Your web pages looks good on all#}
    {#                                        devices and#}
    {#                                        screen sizes, including desktop, tablet and mobile.</p>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </a>#}
    {#                </div>#}
    {#                <div class="col-12 col-md-8 offset-md-2">#}
    {#                    <a href="#!" class="card hoverable">#}
    {#                        <!-- Card content -->#}
    {#                        <div class="card-body">#}
    {#                            <div class="media">#}
    {#              <span class="card-img-100 d-inline-flex justify-content-center align-items-center rounded-circle grey lighten-3 mr-4">#}
    {#                <i class="fab fa-react fa-2x text-info"></i>#}
    {#              </span>#}
    {#                                <div class="media-body">#}
    {#                                    <h5 class="dark-grey-text mb-3">I'm a developer</h5>#}
    {#                                    <p class="font-weight-light text-muted mb-0">Your web pages looks good on all#}
    {#                                        devices and#}
    {#                                        screen sizes, including desktop, tablet and mobile.</p>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </a>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {#    <div class="contacts-area">#}
    {#        <div class="container pb-3">#}
    {#            <div class="row ml-0 mr-0">#}
    {#                <div class="col-12 col-md-4 z-index-norm mb-3 mb-lg-0">#}
    {#                    <div class="card shadow-sm p-3 text-center">#}
    {#                        <i class="fas fa-mobile-alt text-secondary btn-xl"></i>#}
    {#                        <hr>#}
    {#                        <h4>Справочная служба:</h4>#}
    {#                        8-499-268-25-00#}
    {#                        <h4>Телефон горячей линии:</h4>#}
    {#                        8-925-231-99-72#}
    {#                        <h4>Приемная Директора:</h4>#}
    {#                        8-499-268-00-05#}
    {#                        <h4>Отдел делопроизводства:</h4>#}
    {#                        8-499-785-25-14#}
    {#                        <h4>Факс:</h4>#}
    {#                        8-499-785-20-82#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="col-6 col-md-2 z-index-norm mb-3 mb-lg-0">#}
    {#                    <div class="card shadow-sm p-3 text-center">#}
    {#                        <i class="fas fa-map-pin text-secondary btn-xl"></i>#}
    {#                        <hr>#}
    {#                        <h4>Адрес:</h4>#}
    {#                        г. Москва, ул. Стромынка, д. 10#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="col-6 col-md-2 z-index-norm mb-3 mb-lg-0">#}
    {#                    <div class="card shadow-sm p-3 text-center">#}
    {#                        <i class="fas fa-clock text-secondary btn-xl"></i>#}
    {#                        <hr>#}
    {#                        <h4>Режим работы:</h4>#}
    {#                        Круглосуточно (Стационар)#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="col-12 col-md-4 z-index-norm mb-3 mb-lg-0">#}
    {#                    <div class="card shadow-sm p-3 text-center">#}
    {#                        <i class="fas fa-exclamation text-secondary btn-xl"></i>#}
    {#                        <hr>#}
    {#                        <h4>Контактный телефон горячей линии психологической помощи:</h4>#}
    {#                        +7(999)353-79-80#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {#    <div class="container branches-area pb-3">#}
    {#        <div class="text-center font-weight-bold"><h1>Наши филиалы</h1></div>#}
    {#        <div class="owl-carousel px-3" id="carouselBranches">#}
    {#            {% for i in branches %}#}
    {#                <div class="item">#}
    {#                    <a href="{{ i.get_absolute_url }}">#}
    {#                        <div class="card card-cascade wider m-1">#}
    {#                            <div class="view view-cascade overlay">#}
    {#                                {% if i.image_title %}#}
    {#                                    <img src="{{ i.image_title.url }}" alt="">#}
    {#                                {% else %}#}
    {#                                    <img src="/media/no_image.jpg" alt="">#}
    {#                                {% endif %}#}
    {#                            </div>#}
    {#                            <div class="card-body card-body-cascade text-center pb-0">#}
    {#                                <h4 class="card-title"><strong>{{ i.name }}</strong></h4>#}
    {#                                <div class="row justify-content-center align-items-center">#}
    {#                                    <div class="col-2">#}
    {#                                        <div class="btn-floating btn-sm btn-slack" type="button" role="button">#}
    {#                                            <i class="fas fa-map-marker-alt"></i>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                    <div class="col-10 text-left">#}
    {#                                        {{ i.address }}#}
    {#                                    </div>#}
    {#                                    <div class="col-2">#}
    {#                                        <div class="btn-floating btn-sm btn-slack" type="button" role="button">#}
    {#                                            <i class="fas fa-phone"></i>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                    <div class="col-10 text-left">#}
    {#                                        {{ i.tel_cnt_br }}#}
    {#                                    </div>#}
    {#                                    <div class="col-2">#}
    {#                                        <div class="btn-floating btn-sm btn-slack" type="button" role="button">#}
    {#                                            <i class="fas fa-at"></i>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                    <div class="col-10 text-left">#}
    {#                                        {{ i.email }}#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                                <div class="card-footer text-muted text-center mt-4">#}
    {#                                    <div class="btn-floating btn-lg btn-slack" type="button" role="button"><i#}
    {#                                            class="fas fa-share"></i></div>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </a>#}
    {#                </div>#}
    {#            {% endfor %}#}
    {#        </div>#}
    {#    </div>#}
    {#    <div class="container-fluid news-area">#}
    {#        <div class="text-center"><h2>Наши новости</h2></div>#}
    {#        <div class="row px-lg-5">#}
    {#            {% for i in news %}#}
    {#                <div class="col-6 col-lg-3 mb-4">#}
    {#                    <div class="card testimonial-card">#}
    {#                        <a href="{{ i.get_absolute_url }}">#}
    {#                            <div class="card promoting-card">#}
    {#                                <div class="card-body d-flex flex-row">#}
    {#                                    <div>#}
    {#                                        <h5 class="card-title font-weight-bold mb-2">{{ i.title }}</h5>#}
    {#                                        <p class="card-text"><i#}
    {#                                                class="far fa-clock pr-2"></i>{{ i.created_at|date:"d E Y" }}</p>#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                              <div class="view overlay text-center">#}
    {#                                {% if i.image_title %}#}
    {#                                    <img class="img-fluid" src="{{ i.image_title.url }}" alt="">#}
    {#                                {% else %}#}
    {#                                    <img class="img-fluid" src="/media/logo-main.png" alt="">#}
    {#                                {% endif %}#}
    {#                              </div>#}
    {#                                <div class="card-body">#}
    {#                                    <div class="collapse-content">#}
    {#                              <p class="card-text">{{ i.anons }}</p>#}
    {#                                        <i class="fab fa-odnoklassniki text-muted float-right p-1 my-1"#}
    {#                                           data-toggle="tooltip" data-placement="top"></i>#}
    {#                                        <i class="fab fa-facebook-f text-muted float-right p-1 my-1"#}
    {#                                           data-toggle="tooltip" data-placement="top"></i>#}
    {#                                        <i class="fab fa-vk text-muted float-right p-1 my-1" data-toggle="tooltip"#}
    {#                                           data-placement="top"></i>#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </a>#}
    {#                    </div>#}
    {#                </div>#}
    {#            {% endfor %}#}
    {#            <div class="col-12 mb-4 text-center">#}
    {#                <a href="{% url 'news' %}"><h4><i class="fas fa-long-arrow-alt-right"></i>#}
    {#                    ...БОЛЬШЕ НОВОСТЕЙ...#}
    {#                    <i class="fas fa-long-arrow-alt-left"></i></h4>#}
    {#                </a>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {#    <div class="implink-area">#}
    {#        <div class="container">#}
    {#            <div class="text-center"><h2>Полезная информация</h2></div>#}
    {#            <div class="owl-carousel" id="carouselImpLink">#}
    {#                {% for implink in implinks %}#}
    {#                    <div class="item">#}
    {#                        <a target="_blank" href="{{ implink.link }}">#}
    {#                            <div class="card">#}
    {#                                <div class="view overlay p-2">#}
    {#                                    <img class="card-img-top" src="{{ implink.image_title.url }}"#}
    {#                                         alt="Card image cap">#}
    {#                                    <div class="mask rgba-white-slight"></div>#}
    {#                                </div>#}
    {#                                <div class="p-2">#}
    {#                                    <h7 class="card-title">{{ implink.content }}</h7>#}
    {#                                    <hr>#}
    {#                                    <div class="text-right">#}
    {#                                        <a class="btn-floating btn-sm btn-secondary"><i class="fas fa-share"></i></a>#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </a>#}
    {#                    </div>#}
    {#                {% endfor %}#}
    {#                <!-- Card Narrower -->#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {#    <div class="container">#}
    {#        <div class="reviews-area">#}
    {#            <div class="text-center"><h2>Отзывы о нашей работе</h2></div>#}
    {#            <section class="my-5">#}
    {#                {% for r in reviews %}#}
    {#                    <!-- Card header -->#}
    {#                    <div class="card-header border-0 font-weight-bold d-flex justify-content-between">#}
    {#                        <p class="mr-4 mb-0 text-sea-color"><i class="fas fa-calendar mr-2"></i>{{ r.date }}</p>#}
    {#                    </div>#}
    {##}
    {#                    <div class="media mt-4 px-1 text-md-left">#}
    {#                        <img class="card-img-100 d-flex z-depth-1 mr-3" src="/media/user.png">#}
    {#                        <div class="media-body">#}
    {#                            <h5 class="font-weight-bold mt-0">#}
    {#                                <div class="text-sea-color">{{ r.name }}</div>#}
    {#                            </h5>#}
    {#                            <div class="story">#}
    {#                                {{ r.content|safe }}#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                    <hr>#}
    {#                {% endfor %}#}
    {#            </section>#}
    {#        </div>#}
    {#    </div>#}


    <!-- Full Height Modal Right -->
    <div class="modal fade right" id="fullHeightModalRight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">

        <!-- Add class .modal-full-height and then add class .modal-right (or other classes from list above) to set a position to the modal -->
        <div class="modal-dialog modal-full-height modal-right" role="document">


            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title w-100" id="myModalLabel">Письмо в администанцию Центра</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="md-form">
                        <i class="fas fa-user prefix grey-text"></i>
                        <input type="text" id="form104" class="form-control">
                        <label for="form104">...Ваше имя...</label>
                    </div>
                    <div class="md-form">
                        <i class="fas fa-envelope prefix grey-text"></i>
                        <input type="text" id="form105" class="form-control">
                        <label for="form105">...Ваш email...</label>
                    </div>
                    <div class="md-form">
                        <i class="fas fa-pencil-alt prefix grey-text"></i>
                        <textarea id="form107" class="md-textarea form-control" rows="8"></textarea>
                        <label for="form107">...Ваше сообщение...</label>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary">Отправить</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Full Height Modal Right -->
    <!-- Full Height Modal Top -->
    <div class="modal fade right" id="fullHeightModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-sm modal-top" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title w-100" id="myModalLabel">...Поиск...</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="ya-site-form ya-site-form_inited_no"
                         data-bem="{&quot;action&quot;:&quot;http://mnpcbt-new.ru/search/&quot;,&quot;arrow&quot;:false,&quot;bg&quot;:&quot;transparent&quot;,&quot;fontsize&quot;:16,&quot;fg&quot;:&quot;#000000&quot;,&quot;language&quot;:&quot;ru&quot;,&quot;logo&quot;:&quot;rb&quot;,&quot;publicname&quot;:&quot;mnpcbt-new.ru&quot;,&quot;suggest&quot;:true,&quot;target&quot;:&quot;_self&quot;,&quot;tld&quot;:&quot;ru&quot;,&quot;type&quot;:3,&quot;usebigdictionary&quot;:true,&quot;searchid&quot;:2462100,&quot;input_fg&quot;:&quot;#000000&quot;,&quot;input_bg&quot;:&quot;#ffffff&quot;,&quot;input_fontStyle&quot;:&quot;normal&quot;,&quot;input_fontWeight&quot;:&quot;normal&quot;,&quot;input_placeholder&quot;:&quot;Введите запрос&quot;,&quot;input_placeholderColor&quot;:&quot;#000000&quot;,&quot;input_borderColor&quot;:&quot;#3f51b5&quot;}">
                        <form action="https://yandex.ru/search/site/" method="get" target="_self"
                              accept-charset="utf-8"><input type="hidden" name="searchid" value="2462100"/><input
                                type="hidden" name="l10n" value="ru"/><input type="hidden" name="reqenc"
                                                                             value=""/><input type="search" name="text"
                                                                                              value=""/><input
                                type="submit" value="Найти"/></form>
                    </div>
                    <style type="text/css">.ya-page_js_yes .ya-site-form_inited_no {
                        display: none;
                    }</style>
                    <script type="text/javascript">(function (w, d, c) {
                        var s = d.createElement('script'), h = d.getElementsByTagName('script')[0],
                            e = d.documentElement;
                        if ((' ' + e.className + ' ').indexOf(' ya-page_js_yes ') === -1) {
                            e.className += ' ya-page_js_yes';
                        }
                        s.type = 'text/javascript';
                        s.async = true;
                        s.charset = 'utf-8';
                        s.src = (d.location.protocol === 'https:' ? 'https:' : 'http:') + '//site.yandex.net/v2.0/js/all.js';
                        h.parentNode.insertBefore(s, h);
                        (w[c] || (w[c] = [])).push(function () {
                            Ya.Site.Form.init()
                        })
                    })(window, document, 'yandex_site_callbacks');</script>
                </div>
            </div>
        </div>
    </div>
    <!-- Full Height Modal Top -->
{% endblock %}