{% extends 'inc/_containerPage.html' %}
{% block contentPage %}
    <span class="red-text">Должность:</span> {{ employee_item.post }}<br>
    <hr>
    <span class="red-text">Подразделение:</span> {{ employee_item.units }}<br>
    <hr>
    <span class="red-text">Образование:</span> {{ employee_item.formation }}<br>
    {% if employee_item.accreditation %}
        <span class="red-text">Аккредитация:</span> {{ employee_item.accreditation }}<br>
    {% endif %}
    {% if employee_item.speciality %}
        <hr>
        <span class="red-text">Специальность по сертификату:</span> {{ employee_item.speciality }}<br>
    {% endif %}
    {% if employee_item.degree %}
        <hr>
        <span class="red-text">Ученая степень:</span> {{ employee_item.degree }}<br>
    {% endif %}
    {% if employee_item.speciality_akk %}
        <hr>
        <span class="red-text">Специальность по аккредитации:</span> {{ employee_item.speciality_akk }}<br>
    {% endif %}

    {% if employee_item.qualification %}
        <hr>
        <span class="red-text">Квалификационная категория:</span> {{ employee_item.qualification }}<br>
    {% endif %}

{% endblock %}