{% extends 'inc/_containerPage.html' %}
{% block contentPage %}
    {% if user.is_authenticated %}
        <h3 class="text-center mt-5 mb-3">
            «Организация и проведение иммунодиагностики туберкулеза у детей и взрослых, вакцинопрофилактики туберкулеза
            у детей»
        </h3>
        <div class="row">
            {% for period in period_view %}
                <div class="col-12 col-md-4 p-2">
                    <div class="card d-flex justify-content-center p-3">
                        <a href="{{ period.pk }}">{{ period.start_date }} - {{ period.end_date }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        Вы не зарегистрировались
    {% endif %}
{% endblock %}