{% extends 'services/base_services.html' %}
{% block title %}
    {{ category }}
{% endblock %}
{% block content %}
    <h1 class="text-secondary mb-3 title-text">{{ category }}</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Платные услуги</a></li>
            {% for cat in ancestors %}
                <li class="breadcrumb-item"><a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a></li>
            {% endfor %}
            <li class="breadcrumb-item active" aria-current="page">{{ category }}</li>
        </ol>
    </nav>
    {% if children %}
        <div class="text-right">
            <button type="button" class="btn btn-secondary btn-rounded">Всего категорий: {{ children.count }}</button>
        </div>
        {% for child in children %}
{#            <div class="list-group-flush">#}
{#                <div class="list-group-item">#}
{#                    <a href="{{ child.get_absolute_url }}">#}
{#                        <p class="mp-0">#}
{#                            <i class="fab fa-buffer fa-2x btn-sm btn-default mr-4 p-3 white-text rounded"#}
{#                               aria-hidden="true"></i>{{ child.name }}#}
{#                            <span class="badge badge-info badge-pill">{{ descendants.count }}</span>#}
{#                        </p>#}
{#                    </a>#}
{#                </div>#}
{#            </div>#}
            <!-- Card -->
            <div class="row">
            <div class="col-6">
            <div class="card">
                <!-- Card content -->
                <div class="card-body">

                    <!-- Title -->
                    <h4 class="card-title"><a>{{ child.name }}</a></h4>
                    <!-- Button -->
                    <p class="card-text"><span class="badge badge-info badge-pill">{{ descendants.count }}</span></p>
                    <a href="#" class="btn btn-primary">Открыть</a>

                </div>

            </div>
            </div>
            </div>
            <!-- Card -->


        {% endfor %}
    {% else %}
        {% for service in services %}
            <div class="col-12 mb-4">
                <div class="card z-depth-2">
                    <div class="card-body p-0">
                        <div class="row mx-0">
                            <div class="col-md-8 grey lighten-4 rounded-left pt-4">
                                <h5 class="font-weight-bold">{{ service.name }}</h5>
                                <p class="font-weight-light text-muted mb-4">Код услуги: {{ service.code }}</p>
                            </div>
                            <div class="col-md-4 text-center pt-4">
                                <p class="h2 font-weight-normal">
                                    {{ service.price }}<i class="h5 fas fa-ruble-sign"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% empty %}
            <p>Услуги в стадии формирования...</p>
        {% endfor %}
    {% endif %}
{% endblock %}