{% extends 'services/base_services.html' %}
{% block title %}
    Платные услуги
{% endblock %}
{% block content %}
    <h1 class="text-secondary mb-3 title-text">Платные услуги</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Платные услуги</a></li>
            {% for cat in ancestors %}
                <li class="breadcrumb-item"><a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a></li>
            {% endfor %}
        </ol>
    </nav>
    <div class="row">
        {% load mptt_tags %}
        {% recursetree categories %}
            <div class="col-md-6 mb-4">
                <div class="card card-image"
                     style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">
                    <!-- Content -->
                    <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                        <div>
                            <h5 class="pink-text"><i class="fab fa-buffer"></i></h5>
                            <h3 class="card-title pt-2"><strong><a
                                    href="{{ node.get_absolute_url }}">{{ node.name }}</a></strong></h3>
                            <div class="btn btn-pink"><i class="fas fa-door-open"></i> Открыть</div>
                        </div>
                    </div>
                </div>
            </div>
        {% endrecursetree %}
    </div>
{% endblock %}
